.image-liverpool {
    background-image: url('../images/liverpool.png');
    height:130px;
    // width:100%;
    background-repeat: no-repeat;
    background-position-x: center;
    // background-color: #b4afaf;
    // background-size:cover;
}