.confirm {
    height:100%;
    width:100%;
    overflow:hidden;
    // background-image: url('../../images/hannyjaime7.png');
    background-image: url('../../images/hannyjaime5-bw.jpeg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: #b4afaf;
    background-size:cover;
}

.confirm-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    // border: 9px solid white;
    // position: absolute;
    // top: 40%;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0; 
    // text-align: center;
}
.confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.confirm-title {
    font-family: PlayFairDisplayBold, serif;
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 17px;
    color:white;//to update
}
.confirm-detail {
    font-family: PlayFairDisplayItalic, serif;
    font-size: 25px;
    padding-bottom: 13px;
    color: white;
}
.btn-search {
    margin-top: 20px;
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: 4px 2px;
    cursor: pointer;
}

.confirm-input {
    padding: 15px;
    font-size: 20px;
    background-color: var(--inputs-bg-color) !important;
    color: white;
    border-width: 2px;
    border-color: white;
    border-radius: 0px;
    border-style: solid;
    // width: 100%;
    text-transform: uppercase;
}