.confirm {
    height:100%;
    width:100%;
    overflow:hidden;
    // background-image: url('../../images/hannyjaime5-bw.jpeg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
}

.confirm-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    border: 9px solid black;
}
.confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.confirm-title {
    text-align: center;
    font-family: PlayFairDisplayBold, serif;
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 17px;
    color:black;
}
.confirm-title-list {
    font-size: 26px;
}
.confirm-detail {
    font-family: PlayFairDisplayItalic, serif;
    font-size: 25px;
    padding-bottom: 13px;
    color: black;
}
.confirm-detail-list {
    font-size: 19px;
}
.btn-search {
    margin-top: 46px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.confirm-input {
    padding: 15px;
    font-size: 20px;
    background-color: var(--inputs-bg-color) !important;
    color: black;
    border-width: 2px;
    border-color: black;
    border-radius: 0px;
    border-style: solid;
    text-transform: uppercase;
}

.confirm-list {
    display: none;
}

.confirm-ready {
    display: none;
    padding : 100px 90px;
}