.direccion {
    width:100%;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
}


.salon-titulo-desktop {
    padding-top: 30px !important;
}