body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'AbrilFatFace';
  src: local('AbrilFatFace'), url(./fonts/AbrilFatface-Regular.ttf) format('truetype');

  font-family: 'PlayFairDisplayItalic';
  src: local('PlayFairDisplayItalic'), url(./fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf) format('truetype');
  
  font-family: 'PlayFairDisplay';
  src: local('PlayFairDisplay'), url(./fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');

  font-family: 'PlayFairDisplayBold';
  src: local('PlayFairDisplayBold'), url(./fonts/PlayfairDisplay-Bold.ttf) format('truetype');
}